---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <h1>Política de Privacidad</h1>

    <p>
    En este sitio web respetamos y protegemos la privacidad de nuestros usuarios.
    La información aquí presentada tiene fines informativos y educativos.
    </p>

    <p>
    No recopilamos información personal de manera directa. Sin embargo, terceros como Google
    pueden usar cookies para mostrar anuncios relevantes.
    </p>

    <p>
    Google utiliza la cookie de DoubleClick, que le permite mostrar anuncios a los usuarios
    basados en sus visitas a este y otros sitios web.
    </p>

    <p>
    Los usuarios pueden inhabilitar el uso de la cookie de DoubleClick visitando la
    configuración de anuncios de Google.
    </p>

    <p>
    Al utilizar este sitio web, usted acepta esta política de privacidad.
    </p>
  </main>
</Layout>
